.header {
  background-color: #5163ba;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 70px;
}

.header__navigation {
  display: flex;
  column-gap: 50px;
}

.navigation {
  display: flex;
  column-gap: 30px;
}

.navigation__item a {
  color: #000000;
}

.navigation__item a:hover {
  color: #ffffff;
  transition: all 0.3s ease-out;
}

.navigation__item a.active,
.header__buttons a.active {
  color: #ffffff;
}

.header__buttons {
  display: flex;
  column-gap: 10px;
}

@media (max-width: 420px) {
  .header__container {
    justify-content: center;
  }

  .header__buttons .button {
    font-size: 13px;
  }

  .header__navigation {
    column-gap: 13px;
  }

  .navigation {
    column-gap: 10px;
  }
}
